<br>
<img style="float: left; width: 50%" src="cid:logo"/>
<br>
<h2>{{titre}}</h2>
<hr>
<p style="font-family: monospace; font-size: 14px">{{contenu}}</p>
<h3>Motif:<small>{{motif}}</small></h3>
<hr>
<i>Ne pas répondre, ceci est un mail automatique. Vous pouvez néanmoins nous écrire à <a href="mailto:support@themis-it.com">support-dev@themis-it.com</a></i>