<br>
<img style="float: left; width: 25%" src="cid:logo"/>
<br>
<h4>{{titre}}</h4>
<hr>
<p style="font-family: monospace; font-size: 14px">{{contenu}}</p>
<h4>Détails: <small>{{motif | capitalize}}</small></h4>
<hr>
<i>Ne pas répondre, ceci est un mail automatique. Vous pouvez néanmoins nous écrire à <a href="mailto:support@themis-it.com">support@themis-it.com</a></i>