<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect"><i class="ti-file"></i> <span><b> MES DEMANDES </b></span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a class="panel-title" href="{{path('demande_new')}}">Créer une demande </a></li>
        <li><a class="panel-title" href="{{path('demande_enPrepa')}}">Brouillon </a></li>
        <li><a class="panel-title" href="{{path('demande_index')}}">Mes demandes </a></li>
    </ul>
</li>

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect"><i class="ti-bag"></i> <span><b> SUIVI </b></span> <span class="menu-arrow"></span> </a>
    <ul class="list-unstyled">
        <li><a class="panel-title" href="#">Mes demandes en cours</a></li>
        <li><a class="panel-title" href="#">Mes demandes clôturées</a></li>
    </ul>
</li>

<li class="has_sub">
    <a href="{{path('demande_recherche')}}" class="waves-effect"><i class="ti-archive"></i><span><b> RECHERCHER </b></span><span class=""></span> </a>
</li>
</ul>