{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <br>
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste des applications </b></h3>
                    <br>
                    <br>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="records_list table table-hover panel panel-inverse panel-purple table-bordered table-striped" id="datatable">
                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44); color: white">
                                <tr>
                                    <th>N°</th>
                                    <th>Nom de l'application</th>
                                    <th>Nombre de demandes disponibles pour l'application</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set num = 0 %}
                                {% for application in applications %}
                                    {% set num = num+1 %}
                                    <tr>
                                        <td>{{num}}</td>
                                        <td>{{application}}</td>
                                        <td><a href="{{path('demande_parApp', {'id': application.id})}}">{{application.listDemandes | length }} demande(s) trouvées.</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script>
            function detailler(id) {

                if ($('.appDemande_' + id).hasClass('hide')) {
                    $('.appDemande_' + id).removeClass('hide');
                    $('.ubuntu_' + id).removeClass('glyphicon-plus-sign');
                    $('.ubuntu_' + id).addClass('glyphicon-minus-sign');

                } else {
                    $('.appDemande_' + id).addClass('hide');
                    $('.ubuntu_' + id).addClass('glyphicon-plus-sign');
                    $('.ubuntu_' + id).removeClass('glyphicon-minus-sign');
                }
            }
            $(document).ready(function () {
                $('#datatable-responsive').DataTable();
                TableManageButtons.init();
            });
        </script>
    </div>
{% endblock %}
{# empty Twig template #}
