{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-border panel-inverse">
                <header class="">
                    <h3 class="text-center" style="color: white; background: #7e57c2;"><b>Liste des entreprises affilées </b></h3>
                    <br>
                </header>
                <div class="col-md-12">
                    <a class="btn btn-primary btn-custom waves-effect waves-light pull-right" href="{{path('entreprise_new')}}">Ajouter une entreprise</a>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="records_list table table-hover panel table-responsive panel-inverse panel-purple table-bordered table-striped" id="datatable">
                            <thead class="panel-heading" style="background: rgba(126, 87, 194, 0.44);">
                                <tr>
                                    <th class="" style="color: blue; font-weight: unset;">Actions</th>
                                    <th class="" style="color: blue; font-weight: unset;">Nom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entreprise in entreprises %}
                                    <tr>
                                        <td>
                                            <div class="input-group-btn">
                                                <button  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                                    <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a <a href="{{ path('entreprise_show', { 'id': entreprise.id }) }}"><i class="fa fa-eye"></i> Voir le entreprise</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('entreprise_edit', { 'id': entreprise.id }) }}"><i class="fa fa-edit"></i> Editer le entreprise</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{ entreprise.nom }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <script>
        </script>
    </div>
{% endblock %}
